---
layout: default
---

<div class="album-list">
  <ul>
  {% for page in site.pages %}
    {% if page.layout == 'album' %}
      <li>
        <a href="{{page.url}}">
          <img src="http://{{site.photo_host}}:{{site.photo_port}}/{{page.title}}/thumbs/{{page.cover}}"></img>
          <p>{{page.title | titlecase}}</p>
        </a>
      </li>
    {% endif %}
  {% endfor %}
  </ul>
</div>
<aside class="sidebar">
  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
